<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('developerProduits') }}">Produits</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
{#                <a href="{{ path('developerUtilisateurs') }}">Clients</a>#}
            </li>
            <li>
{#                <a href="{{ path('developerCommande') }}">Commandes</a>#}
            </li>
        </ul>
    </div>
    
</div>