<div class="well col-xs-12 col-sm-12 col-md-3 sidebar">
    <div class="nav nav-list side-menu animate-dropdown outer-bottom-xs">
        <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
        <nav class="yamm megamenu-horizontal" role="navigation">
            <ul class="nav">
                {#<li class="nav-header">Nos produits</li>#}
                {% render(controller('EcommerceBundle:Categories:menu')) %}
            </ul>
        </nav>
    </div>
</div>