{#<div class="search-area">
    <form>
        <div class="control-group">
            <input class="search-field" placeholder="Search here...">

            <a class="search-button" href="#"></a>    

        </div>
    </form>
</div><!-- /.search-area -->#}

{#{% render(controller('EcommerceBundle:Default:Recherche/modulesUsed/recherche.html.twig')) %}#}
                            <div class="search-area">
                                <form>
                                    <div class="control-group">

                                        <input class="search-field" placeholder="Search here...">

                                        <a class="search-button" href="#"></a>    

                                    </div>
                                </form>
                            </div><!-- /.search-area -->
{#{% render(controller('EcommerceBundle:Produits:recherche')) %}#}