<!DOCTYPE html>
<html>
    {% include 'layout/head-new.html.twig' %} 
    <body>
        {% include 'layout/header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'layout/footer.html.twig' %}
    {% include 'layout/scripts.html.twig' %}
    </body>
</html>