{% for categorie in categories %}
    <li class="dropdown menu-item">
        <a href="{{ path('categorieProduits', { 'categorie' : categorie.id }) }}" class="dropdown-toggle" data-toggle="dropdown">{{ categorie.nom }}</a>
    </li>
{% endfor %}