{#<div class="search-area">
    <form>
        <div class="control-group">
            <input class="search-field" placeholder="Search here...">

            <a class="search-button" href="#"></a>    

        </div>
    </form>
</div><!-- /.search-area -->#}

{#{% render(controller('EcommerceBundle:Default:Recherche/modulesUsed/recherche.html.twig')) %}#}
                            <div class="search-area">
    <form>
        <div class="control-group">

            <ul class="categories-filter animate-dropdown">
                <li class="dropdown">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="index.php?page=category">Categories <b class="caret"></b></a>

                    <ul class="dropdown-menu" role="menu">
                        <li class="menu-header">Computer</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="index.php?page=category">- Laptops</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="index.php?page=category">- Tv &amp; audio</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="index.php?page=category">- Gadgets</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="index.php?page=category">- Cameras</a></li>

                    </ul>
                </li>
            </ul>

            <input class="search-field" placeholder="Search here...">

            <a class="search-button" href="#"></a>    

        </div>
    </form>
</div>
{#{% render(controller('EcommerceBundle:Produits:recherche')) %}#}